.blog-author-wrap .blog-author, .blog-author-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.blog-author-wrap .blog-author {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.blog-author-wrap {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

@-webkit-keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/*---------------------------
        Blog Section CSS
----------------------------*/
.blog-bg-1 {
  background-image: url(../img/blog/blog-1.jpg);
}

.blog-bg-2 {
  background-image: url(../img/blog/blog-2.jpg);
}

.blog-bg-3 {
  background-image: url(../img/blog/blog-3.jpg);
}

.blog-card {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 0 30px;
  border-radius: 5px;
}

.blog-card .blog-img {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.blog-card .blog-img img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.blog-card .blog-info {
  padding: 47px 25px 25px;
  position: relative;
}

.blog-card .blog-info .blog-date {
  position: absolute;
  top: -55px;
  left: 25px;
  background: #FF4F1E;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.blog-card .blog-info .blog-date h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  color: #fff;
  padding: 15px 14px 8px;
}

.blog-card .blog-info .blog-date h6 span {
  display: block;
  font-size: 40px;
  font-weight: 600;
  line-height: 34px;
}

.blog-card .blog-info h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  margin: 0 0 15px;
}

.blog-card .blog-info p {
  margin: 0 0 20px;
}

.blog-card:hover .blog-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-author-wrap {
  border-top: 1px solid #ddd;
  padding-top: 28px;
}

.blog-author-wrap .blog-author .blog-author-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blog-author-wrap .blog-author .blog-author-img img {
  border-radius: 50%;
}

.blog-author-wrap .blog-author .blog-author-name p {
  margin: 0px 0 0 15px;
}

.blog-author-wrap .blog-author .blog-author-name p a {
  color: #FF4F1E;
}

/*------partner Logo Slider-----*/
.partner-slider {
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 20px;
  background: #fff;
}

.partner-slider .partner-item {
  text-align: center;
}

.partner-item img {
  margin: 0 auto;
  display: block;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.6;
}

.swiper-slide-active .partner-item img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

/*-------------------------------
        Single Blog CSS
--------------------------------*/
/*--------Blog Details----------*/
.content-wrapper article {
  padding-bottom: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
}

.content-wrapper .post-content h2 {
  margin: 0 0 15px;
  line-height: 1.3;
}

.content-wrapper .post-content .post-subtitle {
  font-size: 20px;
}

.content-wrapper .post-content p {
  margin: 0 0 20px;
}

.content-wrapper .post-content .wp-block-quote {
  position: relative;
  padding: 35px 35px 20px;
  background-color: #F2F2F2;
  border-top: 4px solid #FF4F1E;
  border-left: 4px solid #FF4F1E;
  text-align: center;
  margin: 0 0 38px;
}

.content-wrapper .post-content .wp-block-quote p {
  font-weight: 400;
  position: relative;
  margin: 0 0 25px;
  font-style: italic;
}

.content-wrapper .post-content .wp-block-quote i {
  position: absolute;
  bottom: -16px;
  left: 50%;
  z-index: 0;
  font-weight: 700;
  color: #201D1E;
  opacity: 0.1;
  -webkit-transform: translateX(-50%) scaleX(-1);
          transform: translateX(-50%) scaleX(-1);
  font-size: 57px;
  color: #FF4F1E;
  opacity: 0.3;
}

.content-wrapper .post-content .wp-block-quote .quote-author h6 {
  font-size: 20px;
  line-height: 22px;
  margin: 0;
}

.content-wrapper .post-content .wp-block-quote .quote-author span {
  font-size: 15px;
}

.content-wrapper .post-img {
  margin: 0 0 25px;
}

.sidebar .sidebar-widget .tag-list,
.post-tag.tag-list {
  margin-top: -12px;
}

.post-tag.tag-list ul {
  display: inline-block;
}

.post-share {
  display: inline-block;
  text-align: right;
}

.post-share .social-profile {
  display: inline-block;
  position: relative;
  top: 2px;
}

.post-tag span,
.post-share span {
  font-weight: 600;
  margin-right: 5px;
}

/*-----Author Details CSS------*/
.ct_author_avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.ct_author_avatar img {
  border-radius: 50%;
}

.post-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
  border: 1px solid #ddd;
  margin: 25px 0;
}

.post-author .post-author-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.post-author .post-author-img img {
  width: 100%;
  border-radius: 50%;
}

.post-author .post-author-info {
  width: calc(100% - 150px);
  margin-left: 20px;
}

/*----------Comment css-----------*/
.post-comment-wrap {
  border: 1px solid #ddd;
  padding: 25px;
  margin: 0 0 25px;
}

.post-comment-wrap .comment-title {
  line-height: 1;
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #ddd;
}

.post-comment-wrap .comment-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 20px;
}

.post-comment-wrap .comment-item:last-child {
  margin: 0;
}

.post-comment-wrap .comment-item .comment-author_img {
  width: 100px;
  height: 100px;
}

.post-comment-wrap .comment-item .comment-author_text {
  width: calc(100% - 120px);
  margin-left: 20px;
}

.post-comment-wrap .comment-item .comment-author_text p {
  font-size: 14px;
  line-height: 24px;
  opacity: 0.7;
  margin: 0;
}

.post-comment-wrap.style2 {
  border: none;
  padding: 0;
}

.post-comment-wrap.style2 .comment-item {
  border-bottom: 1px solid #ddd;
  padding-bottom: 23px;
}

.post-comment-wrap.style2 .comment-item.reply {
  margin-left: 50px;
}

.post-comment-wrap.style2 .comment-title {
  font-size: 20px;
  margin: 0 0 20px;
  padding: 0;
  border: none;
}

.post-comment-wrap.style2 .comment-author_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-comment-wrap.style2 .comment-author_img img {
  border-radius: 50%;
}

.post-comment-wrap.style2 .comment-author_info {
  display: inline-block;
  margin: 0 0 8px;
}

.post-comment-wrap.style2 .comment-author_info h6 {
  margin: 0 0 8px;
}

.post-comment-wrap.style2 .comment-author_info h6,
.post-comment-wrap.style2 .comment-author_info p {
  display: block;
}

.post-comment-wrap.style2 .comment-author_info p {
  margin-left: 0 !important;
}

.post-comment-wrap.style2 .post-reply {
  background: #FF4F1E;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  padding: 7px 12px;
  display: inline-block;
  margin: 15px 0 0;
}

.comment-author_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comment-author_info h6,
.comment-author_info p {
  display: inline-block;
}

.comment-author_info h6 {
  line-height: 21px;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.comment-author_info p {
  margin-left: 25px !important;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  opacity: 0.7;
}

.comment-author_info .rating-star {
  margin: 0 0 0 20px;
}

.comment-author_info .rating-star li {
  margin: 0;
  line-height: 1;
}

.comment-author_info .rating-star li i {
  font-size: 15px;
}

/*------Comment Form CSS----------*/
.comment-form-wrap .comment-form-title {
  background: #F3F6FB;
  padding: 20px;
  margin: 0 0 25px;
}

.comment-form-wrap .comment-form-title h4 {
  color: #201D1E;
  font-weight: 500;
  line-height: 21px;
  margin: 0;
}

.comment-form-wrap .comment-form-title.style2 {
  background: transparent;
  padding: 0;
}

.comment-form-wrap .comment-form-title.style2 h4 {
  line-height: 1.4;
}

.comment-form-wrap .comment-form-title.style2 p {
  font-size: 14px;
  margin: 0;
}

.comment-form-wrap .comment-form .form-group {
  margin: 0 0 15px;
}

.comment-form-wrap .comment-form .form-group textarea {
  height: 135px;
  resize: none;
}

.comment-form-wrap .comment-form .form-group input,
.comment-form-wrap .comment-form .form-group textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px 20px;
}

.comment-form-wrap .comment-form .form-group input {
  height: 60px;
}

.comment-form-wrap .comment-form .checkbox {
  position: relative;
}

.comment-form-wrap .comment-form .checkbox label {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

.comment-form-wrap .comment-form .checkbox label:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #FF4F1E;
  left: 0;
  top: 3px;
  padding: 0;
}

.comment-form-wrap .comment-form .checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.comment-form-wrap .comment-form .btn {
  margin: 15px 0 0;
}

.checkbox input:checked + label:after {
  position: absolute;
  content: "";
  top: 6px;
  left: 3px;
  width: 8px;
  height: 8px;
  border: none;
  background-color: #FF4F1E;
  border-radius: 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.comment-form.style2 label {
  font-weight: 600;
  margin: 0 0 8px;
}

.comment-form.style2 input {
  background: #EEEEEE;
  border: none !important;
  border-radius: 5px;
  height: 50px !important;
}

.comment-form.style2 textarea {
  background: #EEEEEE;
  border: none !important;
  border-radius: 5px;
  height: 120px !important;
}

.comment-form-wrap .comment-form.style2 .form-group {
  margin: 0 0 20px;
}

.comment-form-wrap .comment-form.style2 .btn {
  margin: 6px 0 0;
}

/*--------Range Slider CSS---------*/
.ui-slider-handle.ui-corner-all.ui-state-default {
  background: #FF4F1E;
  border-color: transparent;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
}

.ui-slider-range.ui-corner-all.ui-widget-header {
  background: #FF4F1E;
  border-color: transparent;
}

.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 4px;
}

#slider-range_one {
  border-color: transparent;
  background-color: #ddd;
  border-radius: 50px;
  height: 3px;
}

#amount_one {
  border: none !important;
  background: transparent;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
  .blog-wrap.style1 .blog-right {
    padding-right: calc((100% - 1320px) / 2 + 30px);
  }
  .blog-wrap.style1 .blog-left .blog-section-title {
    padding-left: calc((100% - 330px) / 2 + 15px);
  }
}

@media only screen and (min-width: 992px) {
  .blog-card.style2 .blog-info {
    padding-left: 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-wrap.style1 .blog-right {
    width: calc((100% - 40%) - 28px);
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-wrap.style1 .blog-right {
    padding-right: calc((100% - 745px) / 2 + 15px);
  }
  .blog-wrap.style1::before {
    width: 90%;
  }
  .blog-card.style2 .blog-img,
  .blog-card.style4 .blog-bg {
    height: 340px;
  }
}

@media only screen and (max-width: 991px) {
  .blog-card.style1 .blog-img,
  .blog-card.style2 .blog-img {
    margin: 0 0 20px;
  }
  .sidebar {
    margin-top: 50px;
  }
  .blog-card .blog-img .blog-date {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 376px) {
  .breadcrumb-wrap .breadcrumb-title ul li,
  .breadcrumb-wrap .breadcrumb-title ul li a {
    font-size: 13px;
    line-height: 18px;
  }
  .breadcrumb-wrap .breadcrumb-title h2 {
    font-size: 26px !important;
  }
  .blog-card .blog-img .blog-date {
    font-size: 13px;
  }
  .post-comment-wrap.style2 .comment-item.reply {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .blog-wrap.style1 .blog-left .blog-section-title {
    padding-left: 15px;
    padding-right: 15px;
  }
  .blog-lg-img {
    display: none;
  }
  .blog-card.style1 .blog-img {
    height: 320px;
  }
  .blog-wrap.style1 .blog-left,
  .blog-wrap.style1 .blog-right {
    width: 100%;
  }
  .blog-wrap.style1::before {
    width: 100%;
  }
  .blog-card.style3 .blog-bg-large {
    height: 500px;
  }
  .blog-card.style3 .blog-bg-large .blog-info {
    padding: 15px 20px;
  }
  .post-share {
    text-align: left;
    margin: 20px 0 0;
  }
  .post-author .post-author-img {
    width: 55px;
    height: 55px;
  }
  .post-author .post-author-info {
    width: calc(100% - 75px);
  }
  .post-author-info .social-profile {
    text-align: left;
  }
  .post-comment-wrap .comment-item .comment-author_img {
    width: 50px;
    height: 50px;
  }
  .post-comment-wrap .comment-item .comment-author_text {
    width: calc(100% - 70px);
    margin-left: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .blog-card .blog-info h3 {
    font-size: 20px;
  }
  .comment-author_info h6 {
    width: 100%;
  }
  .comment-author_info p,
  .comment-author_info .rating {
    width: 100%;
    margin-left: 0 !important;
    text-align: left;
  }
  .content-wrapper .post-content h2 {
    font-size: 20px;
  }
  .post-author {
    padding: 15px;
  }
  .post-comment-wrap.review-box .comment-item .comment-author_img {
    margin: 0 auto 20px;
  }
  .post-comment-wrap.review-box .comment-item .comment-author_text {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .post-comment-wrap.review-box .comment-author_info .course-rating {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}
/*# sourceMappingURL=blog.css.map */