@-webkit-keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/*---------------------------------
       Tour CSS 
-----------------------------------*/
.event-bg-1 {
  background-image: url(../img/event/single-event.jpg);
}

.event-bg-2 {
  background-image: url(../img/event/event-2.jpg);
}

.event-gallery {
  height: 400px;
  margin: 0 0 23px;
  border-radius: 5px;
}

.event-date {
  border: 1px solid #ddd;
  padding: 11px 5px;
}

.event-date h4 {
  font-weight: 300;
  color: #4C4C4C;
  font-size: 13px;
  text-align: center;
  margin: 0;
}

.event-date h4 span {
  font-size: 40px;
  line-height: 1;
  text-align: center;
  display: block;
  color: #FF4F1E;
}

.event-meta-info {
  position: relative;
  padding-left: 25px;
  color: #4C4C4C;
  margin: 0 0 10px;
  display: inline-block;
}

.event-meta-info:last-child {
  margin: 0;
}

.event-meta-info i {
  position: absolute;
  top: -2px;
  left: 0;
  color: #FF4F1E;
}

.event-item {
  margin: 0 0 30px;
}

.event-item.style1 .event-name {
  margin: 18px 0 0;
}

.event-item.style2 {
  border: 1px solid #ddd;
  padding: 25px;
}

.event-item.style2 .event-date {
  padding: 20px 5px;
}

.event-item.style2 .event-name {
  margin: 0 0 18px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.event-name {
  margin: 18px 0 0;
}

.event-name p {
  margin: 0;
  padding-right: 10px;
}

.event-img {
  height: 200px;
  display: block;
}

.event-map iframe {
  width: 100%;
  height: 350px;
}

@media only screen and (max-width: 575px) {
  .event-date h4 span {
    font-size: 26px;
  }
  .event-date {
    padding: 11px 5px !important;
  }
}

@media only screen and (max-width: 376px) {
  .event-item.style1 .event-meta-info {
    padding-left: 10px;
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 20px;
  }
  .event-item.style1 .event-meta-info i {
    top: -1px;
    left: -10px;
  }
  .event-item.style1 .event-name {
    margin: 15px 0 0;
  }
  .event-item.style2 {
    padding: 15px;
  }
  .event-item.style2 .event-name h4 {
    font-size: 18px;
  }
  .event-item.style2 .event-name p {
    font-size: 14px;
  }
  .event-item.style2 .event-meta-info {
    margin: 0 0 8px;
    font-size: 13px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .event-img {
    height: 260px;
  }
  .event-item.style1 .event-info {
    margin: 25px 0 0;
  }
}
/*# sourceMappingURL=event.css.map */