.promo-banner-wrap, .discount-wrap .discount-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.promo-banner-wrap {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.discount-wrap .discount-item-wrap {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  -ms-grid-row-align: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@-webkit-keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/*-----------------------
    Promo Section CSS
-----------------------*/
.promo-bg-1 {
  background-image: url(../img/promo/promo-bg-1.jpg);
}

.promo-bg-2 {
  background-image: url(../img/promo/promo-bg-2.jpg);
}

.promo-bg-3 {
  background-image: url(../img/promo/promo-bg-3.jpg);
}

.promo-bg-4 {
  background-image: url(../img/promo/promo-bg-4.jpg);
}

.promo-bg-6 {
  background-image: url(../img/promo/promo-bg-6.png);
}

.video-bg-1 {
  background-image: url(../img/promo/promo-bg-6.png);
}

.video-bg-2 {
  background-image: url(../img/promo/promo-bg-6.png);
}

.promo-banner-wrap {
  position: relative;
}

.promo-banner-wrap .promo-content {
  position: relative;
}

.promo-banner-wrap .promo-content h2 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 500;
  margin: 0 0 20px;
}

.promo-banner-wrap .promo-content p {
  margin: 0;
}

.promo-banner-wrap .promo-content .btn {
  margin: 35px 0 0;
}

.promo-banner-wrap .promo-content:before {
  position: absolute;
  top: 0;
  content: "";
  background: #012245;
  width: 100vw;
  height: 100%;
  z-index: -1;
}

.promo-banner-wrap.style1 .promo-content, .promo-banner-wrap.style2 .promo-content, .promo-banner-wrap.style3 .promo-content {
  width: 49%;
}

.promo-banner-wrap.style1 .promo-img-wrap, .promo-banner-wrap.style2 .promo-img-wrap, .promo-banner-wrap.style3 .promo-img-wrap {
  width: 49%;
}

.promo-banner-wrap.style1 .promo-content:before {
  left: 0;
}

.promo-banner-wrap.style2 .promo-content:before {
  right: 0;
}

.promo-banner-wrap.style2 .promo-img-wrap .promo-circle-shape {
  bottom: 0px;
  right: -80px;
}

.promo-banner-wrap.style3 {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.promo-banner-wrap.style3 .promo-img-wrap .promo-img {
  border-radius: 0;
  height: 610px;
}

.promo-banner-wrap.style3 .promo-img-wrap .promo-circle-shape {
  left: -70px;
  right: auto;
  bottom: 0;
}

.promo-banner-wrap.style3 .promo-content:before {
  left: 0;
}

.promo-banner-wrap.style4 {
  overflow-x: hidden;
}

.promo-banner-wrap.style4 .promo-content:before {
  display: none;
}

.promo-banner-wrap.style4 .promo-circle-shape {
  position: absolute;
  bottom: 50px;
  right: 30px;
  -webkit-animation: animationFramesOne 5s alternate infinite linear;
          animation: animationFramesOne 5s alternate infinite linear;
}

.video-play {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 50%;
  left: 50%;
  background: #FF4F1E;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-play i {
  font-size: 72px;
  color: #fff;
}

.video-play:hover i {
  color: #FF4F1E;
}

.promo-img-wrap {
  position: relative;
}

.promo-img-wrap .promo-circle-shape {
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.promo-img-wrap .promo-circle-shape img {
  max-width: 150px;
}

.promo-img {
  height: 675px;
  border-radius: 5px;
}

/*------------------------------
   Promo Video  Section CSS
--------------------------------*/
.promo-video-bg {
  height: 700px;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 17px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 17px rgba(0, 0, 0, 0.15);
}

.promo-video-wrap {
  position: relative;
}

.promo-video-wrap .container {
  position: relative;
}

.promo-video-wrap .container .prom-dot-shape {
  position: absolute;
  top: 20px;
  left: 0;
  -webkit-animation: animationFramesOne 5s alternate infinite linear;
          animation: animationFramesOne 5s alternate infinite linear;
}

.promo-video-wrap .container .prom-circle-shape {
  position: absolute;
  bottom: 50px;
  right: 0;
}

.promo-video-wrap .container .prom-circle-shape.style1 {
  -webkit-animation: animationFramesThree 15s alternate infinite linear;
          animation: animationFramesThree 15s alternate infinite linear;
}

.promo-video-wrap:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: calc(100% - 100px);
  background: #012245;
  z-index: -1;
}

/*------------------------------
    Discount Section CSS
--------------------------------*/
.discount-wrap .discount-item-wrap {
  position: relative;
}

.discount-wrap .discount-item-wrap .promo-circle-shape {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.discount-wrap .discount-item-wrap .discount-item-left {
  width: 50%;
  padding: 220px 0;
  position: relative;
}

.ds-wrap {
  position: relative;
}

.ds-wrap:before, .ds-wrap:after {
  position: absolute;
  top: 0;
  content: "";
  width: 50%;
  height: 100%;
  z-index: -1;
}

.ds-wrap:before {
  left: 0;
  background-color: #eee;
}

.ds-wrap:after {
  right: 0;
  background-color: #012245;
}

.content-wrap {
  position: relative;
}

.content-wrap h2 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 500;
  margin: 0 0 20px;
}

.content-wrap p {
  margin: 0;
}

.content-wrap .btn {
  margin: 35px 0 0;
}

.content-wrap.style1 h2,
.content-wrap.style1 p {
  color: #fff;
}

.content-wrap.style2 h2,
.content-wrap.style2 p {
  color: #012245;
}

/*-------------------------
    Responsive CSS
-------------------------*/
@media only screen and (min-width: 1600px) {
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-right: 100px;
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-left: 100px;
  }
  .content-wrap.style1.right {
    padding-left: 70px;
  }
}

@media only screen and (min-width: 1450px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-left: calc((100% - 1410px) / 2 + 15px);
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-right: calc((100% - 1410px) / 2 + 15px);
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-left: calc((100% - 50%) - 1410px /2 + 15px);
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1599px) {
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-right: 30px;
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-left: 30px;
  }
  .content-wrap.style1.right {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1449px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-left: calc((100% - 1320px) / 2 + 15px);
  }
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-right: 30px;
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-right: calc((100% - 1320px) / 2 + 15px);
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-left: 30px;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-left: calc((100% - 50%) - 1320px /2 + 15px);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1359px) {
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-right: 30px;
  }
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-left: calc((100% - 1282px) / 2 + 15px) !important;
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-left: 30px;
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-right: calc((100% - 1282px) / 2 + 15px) !important;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-left: calc((100% - 50%) - 1320px /2 + 60px);
  }
  .content-wrap.style1.right {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-left: calc((100% - 960px) / 2 + 15px);
  }
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-right: 30px;
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-right: calc((100% - 960px) / 2 + 15px);
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-left: 30px;
  }
  .promo-banner-wrap .promo-content h2 {
    font-size: 34px;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    width: 65%;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-left: calc((100% - 960px) + 15px);
    padding-right: 30px;
  }
  .content-wrap.style1.right {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .promo-banner-wrap.style1 .promo-content, .promo-banner-wrap.style2 .promo-content, .promo-banner-wrap.style3 .promo-content {
    padding-left: calc((100% - 720px) / 2 + 15px);
    padding-right: calc((100% - 720px) / 2 + 15px);
  }
  .promo-banner-wrap.style1 .promo-img-wrap .promo-img,
  .promo-banner-wrap.style2 .promo-img-wrap .promo-img,
  .promo-banner-wrap.style3 .promo-img-wrap .promo-img {
    height: 400px;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    width: 100%;
    padding: 100px 30px;
    text-align: center;
  }
  .promo-video-bg {
    height: 600px;
  }
}

@media only screen and (max-width: 991px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style2 .promo-content,
  .promo-banner-wrap.style3 .promo-content,
  .promo-banner-wrap.style1 .promo-img-wrap,
  .promo-banner-wrap.style2 .promo-img-wrap,
  .promo-banner-wrap.style3 .promo-img-wrap {
    width: 100%;
  }
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .promo-banner-wrap.style1 .promo-img-wrap {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 0;
  }
  .ds-wrap {
    overflow-x: hidden;
  }
  .ds-wrap:before, .ds-wrap:after {
    display: none;
  }
  .ds-wrap .content-wrap.style2,
  .ds-wrap .content-wrap.style3 {
    position: relative;
  }
  .ds-wrap .content-wrap.style2:before {
    position: absolute;
    top: 0;
    content: "";
    width: 200%;
    height: 100%;
    background: #eee;
    z-index: -1;
    left: -50%;
  }
  .ds-wrap .content-wrap.style1:before {
    position: absolute;
    top: 0;
    left: -50%;
    content: "";
    width: 200%;
    height: 100%;
    background: #012245;
    z-index: -1;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .promo-banner-wrap.style1 .promo-content, .promo-banner-wrap.style2 .promo-content, .promo-banner-wrap.style3 .promo-content {
    padding-left: calc((100% - 540px) / 2 + 15px);
    padding-right: calc((100% - 540px) / 2 + 15px);
  }
  .promo-banner-wrap.style1 .promo-img-wrap .promo-img,
  .promo-banner-wrap.style2 .promo-img-wrap .promo-img {
    height: 350px;
  }
}

@media only screen and (max-width: 767px) {
  .promo-banner-wrap .promo-content h2,
  .discount-wrap .discount-item-wrap .discount-item-left .content-wrap h2 {
    font-size: 28px;
    margin: 0 0 20px;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    width: 100%;
    padding: 45px 15px 50px;
    text-align: center;
  }
  .promo-video-bg {
    height: 400px;
  }
}

@media only screen and (max-width: 575px) {
  .promo-banner-wrap.style1 .promo-content, .promo-banner-wrap.style2 .promo-content, .promo-banner-wrap.style3 .promo-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .promo-banner-wrap.style1 .promo-img-wrap .promo-img,
  .promo-banner-wrap.style2 .promo-img-wrap .promo-img,
  .promo-banner-wrap.style3 .promo-img-wrap .promo-img {
    height: 300px;
  }
  .video-play {
    width: 60px;
    height: 60px;
  }
  .video-play i {
    font-size: 34px;
  }
  .content-wrap h2 {
    font-size: 30px;
  }
  .content-wrap p {
    font-size: 16px;
  }
}
/*# sourceMappingURL=promo.css.map */