@-webkit-keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/*-----------------------------
    Header Section CSS
------------------------------*/
.header-wrap .header-top .header-top-left .header-contact i {
  right: 0px;
}

.header-wrap .header-top .header-top-left .header-contact:last-child {
  padding: 0 50px 0 0;
}

.header-wrap .header-top .header-top-right .header-social ul li a::after {
  left: 0;
  right: auto;
}

.header-search .form-group button {
  right: auto;
  left: 0;
}

.header-wrap .header-top .header-top-left .header-contact p,
.header-wrap .header-top .header-top-left .header-contact a {
  padding: 0 28px 0 0;
}

.header-wrap .header-top .header-top-left .header-contact:last-child {
  padding: 0 50px 0 0;
}

.header-wrap .header-top .header-top-left .header-contact::after {
  right: 25px;
}

.header-wrap .header-top .header-top-right .lang_selctor select {
  padding: 0 6px 0 17px;
}

.header-wrap .header-top .header-top-right .lang_selctor i {
  margin-left: -6px;
}

.header-wrap .header-top .header-top-right .lang_selctor select {
  background-position: calc(100% - 65px) 11px, calc(100% - 57px) 11px, 100% 0;
}

.header-search .form-group button {
  border-right: 1px solid #ddd;
  border-left: none;
}

.header-wrap .header-bottom .header-menu-wrap .sidebar-menu {
  margin-right: 20px;
  margin-left: 0;
}

.contact-popup,
.cart-popup {
  left: -100%;
  right: auto;
}

.contact-popup.open,
.cart-popup.open {
  left: 0;
  right: auto;
}

.product-quantity .qtySelector input {
  right: 48px;
  left: auto;
}

.cart-popup .cart-popup-item-wrap .cart-popup-item .cart-popup-item-price button,
.cart-popup .cart-popup-item-wrap .cart-popup-item .cart-popup-item-price {
  text-align: left;
}

.hero-wrap.style1 .hero-circle-shape {
  left: auto;
  right: -50px;
}

.hero-wrap.style1 .hero-dot-shape {
  left: auto;
  right: -50px;
}

.hero-wrap.style1 .hero-img-wrap .hero-ellipse-img {
  left: 0;
  right: auto;
}

.hero-wrap.style3 .hero-shape-2 {
  right: 0;
  left: auto;
}

.hero-content .hero-btn .btn:nth-child(2) {
  margin: 0 15px 0 0;
}

.hero-wrap.style2 .hero-slider-two .hero-slider-item::before {
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.06)), color-stop(35%, rgba(0, 0, 0, 0.31)), to(rgba(0, 0, 0, 0.74)));
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.06) 0%, rgba(0, 0, 0, 0.31) 35%, rgba(0, 0, 0, 0.74) 100%);
}

.footer-contact-address li i {
  right: 0;
}

.footer-contact-address li {
  padding-left: 0;
  padding-right: 30px;
}

.hero-wrap.style2 .hero-slider-two .hero-slider-item .hero-content .hero-shape-2 {
  left: 0;
  right: -30px;
}

.hero-wrap.style2 .hero-slider-two .hero-slider-item .hero-content .hero-shape-3 {
  left: 0px;
  right: auto;
}

/*---------------------------
    About Section  CSS
----------------------------*/
.about-wrap .about-content .about-features-list li {
  padding-left: 0;
  padding-right: 25px;
}

.about-wrap .about-content .about-features-list li i {
  position: absolute;
  left: auto;
  right: 0;
}

.about-subpara h5 {
  padding-right: 50px;
  padding-left: 0;
}

.about-subpara h5 span {
  right: 0;
  left: auto;
}

.promo-banner-wrap.style1 .promo-content::before,
.promo-banner-wrap.style3 .promo-content::before {
  right: 0;
  left: auto;
}

.promo-banner-wrap.style2 .promo-content::before {
  left: 0;
  right: auto;
}

.promo-banner-wrap.style3 .promo-img-wrap .promo-circle-shape {
  right: -70px;
  left: auto;
}

.feature-item a i {
  margin-right: 7px;
  margin-left: 0;
}

.blog-card .blog-info .blog-date {
  right: 25px;
  left: auto;
}

.blog-author-wrap .blog-author .blog-author-name p {
  margin: 0 15px 0 0;
}

.ds-wrap::before {
  right: 0;
  left: auto;
}

.ds-wrap::after {
  left: 0;
  right: auto;
}

.content-wrap.style1.right {
  padding-right: 70px;
  padding-left: 0;
}

.breadcrumb-wrap .breadcrumb-title .breadcrumb-menu li a::after {
  right: auto;
  left: -11px;
}

.search-box input {
  padding: 10px 20px 10px 20px;
}

.sidebar .sidebar-widget h4::after {
  left: auto;
  right: 0;
}

.pp-post-item .pp-post-info {
  margin: 0 15px 0 0;
}

.category-box ul li a {
  padding-right: 18px;
  padding-left: 0;
}

.category-box ul li a::before {
  right: 0;
  left: auto;
}

.social-profile li {
  margin: 0 0 0 10px;
}

.post-tag span,
.post-share span {
  margin-left: 5px;
  margin-right: 0;
}

.post-author .post-author-info {
  margin-left: 0;
  margin-right: 20px;
}

.post-comment-wrap .comment-item .comment-author_text {
  margin-right: 20px;
  margin-left: 0;
}

.post-comment-wrap.style2 .comment-item.reply {
  margin-right: 50px;
  margin-left: 0;
}

.product-category-list li.has-subcat > a.active,
.product-category-list li.has-subcat > a:hover {
  padding-right: 15px;
  padding-left: 15px;
}

.product-category-list li.has-subcat > a::before {
  right: auto;
  left: 15px;
}

.new-product-item .new-product-info {
  margin-left: 0;
  margin-right: 15px;
}

.single-product-option button:nth-child(1) {
  margin-left: 15px;
  margin-right: 0;
}

.comment-author_info .rating-star {
  margin: 0 20px 0 0;
}

.wh_qty .product-quantity .qtySelector input {
  right: -48px;
  left: auto;
}

.error-content .btn i {
  margin-right: 0;
  margin-left: 6px;
  top: 1px;
}

.course-card .course-metainfo .course-metainfo-right {
  text-align: left;
}

.course-card .course-metainfo .course-metainfo-left,
.course-card .course-metainfo p {
  text-align: right !important;
}

/*---------------------------
    Course CSS
----------------------------*/
.course-card.style1 .course-metainfo p {
  text-align: left !important;
}

.course-card.style2 .course-info .course-price {
  right: 20px;
  left: auto;
}

.course-details-widget ul li p i {
  margin-left: 7px;
  margin-right: 0;
}

.course-details-meta li {
  margin-left: 25px;
  margin-right: 0;
}

.course-details-meta li i {
  margin-left: 5px;
  margin-right: 0;
}

.course-rating span {
  padding-left: 0;
  padding-right: 20px;
}

.course-rating span::before {
  right: 9px;
  left: auto;
}

.checkout-details .form-group button {
  left: 0;
  right: auto;
}

.tab-content.course-tab-content ul.course-details-list li::before {
  left: 0;
  right: 0;
}

.tab-content.course-tab-content ul.course-details-list li {
  padding-left: 0;
  padding-right: 20px;
}

.comment-author_info .course-rating {
  margin-left: 0;
  margin-right: 15px;
}

.accordion-button:not(.collapsed)::after {
  right: 25px;
  left: auto;
}

.tab-content.course-tab-content .lecture-item p i {
  margin-right: 0;
  margin-left: 5px;
}

.form-group input {
  text-align: right;
}

.pricing-box-wrap .pricing-box .price-box-features li {
  padding: 5px 25px 5px 0;
}

.pricing-box-wrap .pricing-box .price-box-features li i {
  left: auto;
  right: 0;
}

.ecour-faq .accordion-button::after {
  right: 35px;
  left: auto;
}

.search-box button {
  left: 5px;
  right: auto;
}

/*---------------------------
    Footer CSS
----------------------------*/
.newsletter-wrap .form-group input {
  padding: 10px 20px 10px 20px;
}

.footer-wrap .footer-top .footer-widget .footer-widget-title::after,
.footer-wrap .footer-top .footer-widget .share-on span::after {
  right: 0;
  left: auto;
}

.newsletter-wrap .form-group button {
  right: auto;
  left: 0;
}

.form_group label::before {
  right: 0;
  left: auto;
  top: 5px;
}

.form_group label {
  padding-right: 25px;
  padding-left: 25px;
}

.form_group input:checked + label::after {
  right: 10px;
  left: auto;
}

/*---------------------------
    Responsive CSS
----------------------------*/
@media only screen and (min-width: 3000px) {
  .hero-wrap.style1 .hero-img-wrap .hero-ellipse-img {
    left: 20%;
  }
}

@media only screen and (min-width: 1921px) and (max-width: 2999px) {
  .hero-wrap.style1 .hero-img-wrap .hero-ellipse-img {
    left: 10%;
  }
}

@media only screen and (min-width: 1600px) {
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-left: 100px;
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-right: 100px;
  }
  .content-wrap.style1.right {
    padding-right: 70px;
  }
}

@media only screen and (min-width: 1450px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-right: calc((100% - 1410px) / 2 + 15px);
    padding-left: 0;
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-left: calc((100% - 1410px) / 2 + 15px);
    padding-right: 0;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-right: calc((100% - 50%) - 1410px /2 + 15px);
    padding-left: 0;
  }
  .hero-wrap.style3 .hero-content-wrap {
    padding-right: calc((100% - 50%) - 1410px /2 + 15px);
    padding-left: 0;
  }
  .about-wrap.style2 .about-content {
    padding-left: calc((100% - 1410px) / 2 + 15px);
    padding-right: 0;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1599px) {
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-left: 30px;
    padding-right: 0;
  }
  .promo-banner-wrap.style2 .promo-img-wrap,
  .content-wrap.style1.right {
    padding-right: 30px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .breadcrumb-title {
    padding: 0 50px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1449px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-right: calc((100% - 1320px) / 2 + 15px);
    padding-left: 0;
  }
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-left: 30px;
    padding-right: 0;
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-left: calc((100% - 1320px) / 2 + 15px);
    padding-right: 0;
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-right: 30px;
    padding-left: 0;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-right: calc((100% - 50%) - 1320px /2 + 15px);
    padding-left: 0;
  }
  .hero-wrap.style3 .hero-content-wrap {
    padding-left: 0;
    padding-right: calc((100% - 50%) - 1320px/2 + 15px);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1359px) {
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-left: 30px;
    padding-right: 0;
  }
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-right: calc((100% - 1282px) / 2 + 15px) !important;
    padding-left: 0;
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-right: 30px;
    padding-left: 0;
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-right: calc((100% - 1282px) / 2 + 15px) !important;
    padding-left: 0;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-right: calc((100% - 50%) - 1320px /2 + 60px);
    padding-left: 0;
  }
  .content-wrap.style1.right {
    padding-right: 30px;
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style2 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-right: calc((100% - 720px) / 2 + 15px);
    padding-left: calc((100% - 720px) / 2 + 15px);
  }
}

@media only screen and (min-width: 992px) {
  .main-menu-wrap.style1 #menu ul li.has-children .sub-menu {
    right: -6px;
    left: auto;
  }
  .main-menu-wrap.style1 #menu > ul > li.has-children > a {
    position: relative;
  }
  .main-menu-wrap.style1 #menu ul li.has-children .sub-menu li {
    text-align: right;
  }
  .main-menu-wrap.style1 #menu > ul > li.has-children > a::before {
    left: 0;
    right: auto;
  }
  .main-menu-wrap.style1 #menu > ul > li.has-children > .sub-menu > .has-children > a::after {
    right: auto;
    left: 15px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .main-menu-wrap.style1 #menu ul > .has-children > .sub-menu > .has-children > .sub-menu {
    right: 100%;
    left: auto;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-wrap.style3 .hero-content-wrap {
    padding-right: calc((100% - 50%) - 960px /2 + 15px);
    padding-left: 0;
  }
  .hero-wrap.style3 .hero-content-wrap {
    padding-left: 0;
    padding-right: calc((100% - 50%) - 960px/2 + 15px);
  }
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-right: calc((100% - 960px) / 2 + 15px);
    padding-left: 0;
  }
  .promo-banner-wrap.style1 .promo-img-wrap {
    padding-left: 30px;
    padding-left: 0;
  }
  .promo-banner-wrap.style2 .promo-content {
    padding-left: calc((100% - 960px) / 2 + 15px);
    padding-right: 0;
  }
  .promo-banner-wrap.style2 .promo-img-wrap {
    padding-right: 30px;
    padding-left: 0;
  }
  .discount-wrap .discount-item-wrap .discount-item-left {
    padding-right: calc((100% - 960px) + 15px);
    padding-left: 30px;
  }
  .content-wrap.style1.right {
    padding-right: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-wrap.style3 .hero-content-wrap {
    padding-right: calc((100% - 50%) - 720px /2 + 15px);
    padding-left: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .mobile-top-bar i {
    margin: 0 0 0 15px;
  }
  .sidebar-menu i {
    margin: 0 0 0 15px;
  }
  .main-menu li {
    text-align: right;
  }
  .main-menu li span.menu-expand {
    left: 0;
    right: auto;
  }
  .main-menu li ul.sub-menu {
    padding: 0 20px 0 0;
  }
  .lang_selctor.style1 i {
    left: auto;
    right: 8px;
  }
  .header-wrap .header-top .header-top-right .lang_selctor select {
    padding: 8px 28px 8px 15px;
  }
  .header-wrap .header-top .header-top-right .lang_selctor i {
    position: absolute;
    top: 8px;
  }
  .header-wrap .header-top .header-top-right .lang_selctor select {
    background-position: calc(100% - 95px) 18px, calc(100% - 87px) 18px, 100% 0;
  }
  .content-wrap.style1.right {
    padding-right: 0;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style2 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-right: calc((100% - 540px) / 2 + 15px);
    padding-left: calc((100% - 540px) / 2 + 15px);
  }
}

@media only screen and (max-width: 575px) {
  .footer-widget {
    text-align: right;
  }
  .header-wrap .header-top .header-top-left .header-contact:last-child {
    padding: 0;
  }
  .promo-banner-wrap.style1 .promo-content,
  .promo-banner-wrap.style2 .promo-content,
  .promo-banner-wrap.style3 .promo-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/*# sourceMappingURL=rtl.css.map */