@-webkit-keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}

/*---------------------------------
        Testimonial CSS 
-----------------------------------*/
.testimonial-bg-1 {
  background-image: url(../img/testimonial/testimonial-bg-1.jpg);
}

.testimonial-bg-2 {
  background-image: url(../img/testimonial/testimonial-bg-2.jpg);
}

.testimonial-wrap {
  position: relative;
}

.client-quote {
  padding: 0 0 15px;
}

.client-quote p {
  margin: 0;
  position: relative;
  z-index: 2;
}

.client-info {
  border-radius: 0 0 20px 0;
  z-index: 3;
  position: relative;
}

.client-info h4 {
  margin: 10px 0 5px;
  line-height: 1.1;
  color: #FF4F1E;
}

.client-info p {
  font-size: 14px;
  opacity: 0.8;
  margin: 0;
}

.testimonial-slider-one {
  position: relative;
  padding-bottom: 25px;
}

.testimonial-slider-one .swiper-slide {
  padding-top: 80px;
}

.testimonial-item {
  text-align: center;
  padding: 95px 20px 60px;
  background: rgba(1, 34, 69, 0.35);
}

.testimonial-item .client-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.testimonial-item .client-img img {
  border-radius: 50%;
}

.testimonial-item .client-name {
  margin: 0 0 15px;
}

.testimonial-item .client-name h5 {
  color: #fff;
  font-weight: 400;
  margin: 0;
}

.testimonial-item .rating li {
  display: inline-block;
}

.testimonial-item .rating li i {
  color: #FFC107;
}

.testimonial-item .client-quote {
  margin: 0 auto;
}

.testimonial-item .client-quote p {
  color: #fff;
  margin: 0;
}

.testimonial-item .quote-icon {
  position: absolute;
  bottom: -13px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(180deg) scaleX(-1);
  transform: translateX(-50%) rotate(180deg) scaleX(-1);
}

.testimonial-item .quote-icon i {
  font-size: 100px;
  color: #012245;
}

.testimonial-pagination {
  text-align: center;
  position: relative;
  bottom: 20px;
}

.testimonial-pagination.swiper-pagination-bullets {
  bottom: -30px;
  position: relative;
  z-index: 9;
}

.testimonial-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.8);
  margin: 0 10px !important;
}

.testimonial-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}

/*--------------------------------------
        Responsive CSS
------------------------------------*/
@media only screen and (min-width: 1200px) {
  .testimonial-item .client-quote {
    max-width: 80%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-item {
    padding: 95px 30px 60px;
  }
}

@media only screen and (max-width: 991px) {
  .testimonial-bg {
    margin: 0 0 20px;
  }
  .testimonial-item.style2 {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .testimonial_btn.style1 {
    top: auto;
    left: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .slider-btn.style3,
  .testimonial_btn .testimonial-next-one,
  .testimonial_btn .testimonial-prev-one {
    margin: 0 10px;
  }
  .testimonial-item .quote-icon i {
    font-size: 60px;
  }
}
/*# sourceMappingURL=testimonial.css.map */