/*-------Style Sidebar------*/
.app-sidebar .side-item.side-item-category{
    letter-spacing: 0px;
    font-size: 20px;

}

.side-menu__label{
    color: #4a4949;
    font-size: 17px;
}

.slide.is-expanded a {
   color: #5b5d63;
}

/*------Update general text in  all page */
.text-muted{
    color: #4a4949 !important;
    font-size: 15px !important;
}

/* .dropdown-item{
    margin-top: -30px;
} */
.dropdown-item:focus, .dropdown-item:hover{
    background-color: none !important;
}
.form-label{
    color: #4a4949;

}
.slide-item {
    font-size: 15px;
}
.app-sidebar .slide-menu a::before{
    font-size: 13px;
}
.mr-10{
    margin-right: -10px;
}


/*--------update general table -------*/


/*------Design 1920px ----*/

/*-----تعديل الجدول الخاص بالمستخدمين ---*/
.table thead th{
    letter-spacing: 0;
    font-size: 15px !important;
}

table.dataTable thead .sorting::after {

    top: 54%;

}
table.dataTable thead .sorting::after, table.dataTable thead .sorting::before {
    font-size: 14px;
    left: -17px;
}
.btn-sm {
    font-size: 16px;
 }
 .text-success ,
 .text-danger{
    margin-right: 9px;
    font-size: 15px;
}
.dot-label{
    bottom: -7px;
}
#example1_filter{
    margin-left: -10px;
}
.pagination{
    margin-left: -10px !important;
}

/*---------Update role page ----*/
.width-th{
    width: 324.817px;
}
/*------update User page -----*/
.btn-sm{
    padding: 10px 17px !important;
    font-size: 15px !important;

}

.form-control-sm
{
    float: right;
}
.form-select-sm
{
    float: right;

}
div.dataTables_wrapper div.dataTables_length select{
    margin: 0 -3px;
    text-align: center;
    padding: 6px 24px;
}
div.dataTables_wrapper  {
    margin-bottom: 25px;
}
.mr{
    margin-right: 8px;
}

/*------update Add  User page -----*/
.form-control-sm{
    height: calc(1.5em + .5rem + 9px)
}
.form-control{
 height: calc(1.5em + .5rem + 10px)
}
.btn-right{
    float: right;
    margin-right: -12px;
}
.select2-container--default .select2-selection--multiple{
    border-radius: 3px;
}
.mg-t-30{
    margin-top: 30px;
}
/*------update Role  User page -----*/
/*------update surveys page--- -----*/
.fz-13{
    font-size: 13px !important;
}
/*------update tests page--- -----*/
.mt-12{
    margin-top: 12px !important;
}
.mt-10{
    margin-top: 10px;
}
.form-label{
    margin-right: 3px;
}
.p-data{
    padding-left: 10px !important;
    padding-right: 10px !important;
 }
 .padd-data{
    padding-left: 0px !important;
    padding-right: 0px !important;
 }

 /*
.input-padd{
    padding-left: 0px !important;
    padding-right: 99px !important;
} */
.mr-12{
    margin-right: 12px;
}
/* .mg-b-10 {

    margin-top: 10px;
    margin-right: 3px
} */
/*------update Courses page--- -----*/

/*------Add Courses page--- -----*/
.mt-5{
    margin-top: 5px !important;
}

.mb-10{
    margin-bottom: 10px;
}
/*------Add Students page--- -----*/
.mr-10{
    margin-right: 10px;
}
.pr-0{
    padding-right: 0;
}


@media  (min-width: 400px ) and (max-width: 1024px){
    /*------update User page -----*/
    .btn-sm{
    padding: 10px 17px !important;
    font-size: 12px !important;

}

}

/*-------update lectcure page -----*/
.mr-3{
    margin-right: 3px;
}
.width-input{
        width: 102.5%;
        padding-right: 20px !important;
        padding-left: -20px !important;
}

.width-in{
    width: 98.5%;
 }
